name: Docker Hub Continuous Deployment

on:
  push:

jobs:
    secrets:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout repository
          run: echo "${{ secrets.DOCKER_HUB_USERNAME }}"

        - name: Log in to Docker Hub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}