name: Java CI with Maven

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Download JUnit
        run: |
          curl -L -o junit.jar https://search.maven.org/remotecontent?filepath=junit/junit/4.13.2/junit-4.13.2.jar
          curl -L -o hamcrest.jar https://search.maven.org/remotecontent?filepath=org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar

      - name: Compile
        run: javac -cp .:junit.jar:hamcrest.jar *.java

      - name: Run tests
        run: java -cp .:junit.jar:hamcrest.jar org.junit.runner.JUnitCore CalculadoraTest