name: Java CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 17
        uses: setup-java-jdk@v3
        with:
          distribution: temurin
          java-version: 17
          working-directory: ./TestAriketa
          run: mvn test